/* Primary */
$prime: blue;
$prime-dark: darkblue;
$prime-deep: rgb(0,0,100);

/*Warning*/
$warn: rgb(255,165,0);
$warn-dark: rgb(225,125,0);
$warn-deep: rgb(205,105,0);

/*danger*/
$danger: rgb(255,0,0);
$danger-dark: rgb(205,0,0);
$danger-deep: rgb(165,0,0);