:root{
	--timeout: 350ms;
}

#bar-chart-wrapper{
	border: 1px solid green;
	margin: 0 auto;
	display: block;
	transition: all var(--timeout);
}

.single-rects, .bar{
	transition: all var(--timeout);
}

.single-rects-enter,
.single-rects-appear{
	fill-opacity: 0;
}

.single-rects-enter-active,
.single-rects-appear-active{
	fill-opacity: 1;
	transition: all var(--timeout);
}